__pycache__/
*.md
*.iml
.DS_Store



# Data
data/raw/
data/external/
data/processed/

# Outputs
/outputs/
/multirun/

/src/data_handling/data_processing/outputs/
/src/data_handling/data_processing/tests/


/src/components/dataset_creation/outputs/
src/components/dataset_creation/.temporal/

/src/train/outputs/


# Miscellaneous

# Configs

configs/assignment_bank/
!config/assignment_bank/_template.yaml

configs/dataset/
!configs/dataset/_template.yaml

configs/experiments/
!configs/experiments/_template.yaml

configs/hydra/

configs/route_bank/
!configs/route_bank/_template.yaml

src/components/dataset_creation/config/datasets/
!src/components/dataset_creation/config/datasets/synthetic_sample.yaml


