__pycache__/
*.pyc
*.md
.env
venv/
.idea/
*.iml
.DS_Store
/data/processed/Link*ping/
/data/interim/Link*ping/
/data/external/Link*ping/
/data/raw/Link*ping/
/data/raw/Barcelona
/examples/
/logs/
/notebooks/
/outputs/
/temp_bcn/
/documentation/
/drafts/
/src/outputs/
/src/data_ingestion/outputs/
/src/components/models/data/
/src/train/outputs/
